<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Discord Bot</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #36393F;
            color: #FFFFFF;
            padding: 20px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #7289DA;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to My Discord Bot!</h1>
        <p>Here you can find information about my bot and how to use it:</p>

        <div class="card bg-dark text-white mb-3">
            <div class="card-header">About My Bot</div>
            <div class="card-body">
                <ul>
                    <li>Bot Name: Generative Bot</li>
                    <li>Bot Description: Discord Bot that can generate Image-to-Text and Text-to-Image</li>
                    <li>Bot Invite Link: <a
                            href="https://discord.com/oauth2/authorize?client_id=1234490128429224107&permissions=8&scope=bot"
                            class="text-info">Please Click here to Add</a></li>
                </ul>
            </div>
        </div>

        <div class="card bg-dark text-white mb-3">
            <div class="card-header">Features</div>
            <div class="card-body">
                <ul>
                    <li>Generate Text to Image</li>
                    <li>Generate Image to Text</li>
                </ul>
            </div>
        </div>

        <div class="card bg-dark text-white mb-3">
            <div class="card-header">How to Use</div>
            <div class="card-body">
                <p>TO GENERATE TEXT TO IMAGE :</p>  
                <div class="d-flex justify-content-center">
                    <h4>Query : Generate the image where a man flying through the air while riding a Car</h4>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <img src="https://img.freepik.com/premium-photo/scifi-futuristic-flying-car-hovered-sky-ai-generated_995428-236.jpg" height="200px" />
                </div>
                <div class="d-flex justify-content-center">
                    <h5 class="text-info">Response Generated</h5>
                </div>
                <br><br><br><br>
                <p>TO GENERATE IMAGE TO TEXT :</p>
                <div class="d-flex justify-content-center">
                    <h5>Image Query</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="https://cdn.pixabay.com/photo/2016/11/14/04/45/elephant-1822636_640.jpg"
                        height="200px" />
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <h4 class="text-info">Response Generated : An Elephant walking through a Forest with Trees </h4>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>